<div style="width:900px;margin:20px auto">
	<img src="/tpls/img/AJAXEL_LOGO.png" style="float:right;margin-left:10px" />
	<h1>Thank you for selecting Ajaxel CMS!</h1>
	This is blank (default) template, which has no content and template.<br />
	<br />
	To install new template, first pick and download it from <a href="http://ajaxel.com/templates" target="_blank">ajaxel website</a> then extract and upload to <b>/tpls/</b> folder on your hosting server when it's done go to <a href="?cms" class="no_ajax">admin panel</a>-&gt;<a href="?cms=settings" class="no_ajax">settings</a>-&gt;<a href="?cms=settings#1" class="no_ajax">templates</a> find your uploaded template name and click the gear icon to install.<br />
	<br />
	If you already have a design in Photoshop file or in HTML and you wish to import it under Ajaxel CMS then we might help you!<br />
	We create high quality websites under such great content management system.<br />
	<br />
	If you have any questions, feel free to send us your letter to <a href="mailto:ajaxel.com@gmail.com">ajaxel.com@gmail.com</a> or let's chat by <a href="skype://ajaxel.com">skype</a>.<br />
	<br />
	Enjoy! And visit <a href="http://ajaxel.com">http://ajaxel.com</a> for more..	
</div>
