<span style='color: #000' title='Frames'>   175</span><span style='color: #009' title='Memory'>  21248.00 KB</span><span style='color: #900' title='Time'>    815.80 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />