/* -------------------
	Global styles
	Ajaxel v5.55
	http://ajaxel.com
   ------------------- */
html, body, table, td {margin:0;padding:0;border:0;outline:0}
img {border:0}
p:last-child, p:last-child {margin-bottom:0;padding-bottom:0}
button::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner {
	padding:0!important;
	border:0 none!important;
}
a {font-size:inherit}
ol, ul {margin-top:0}
input[type="text"], input[type="password"], input[type="checkbox"], textarea, select, a, button, img {outline:none}
textarea {resize:none}
#colorbox, #colorbox * {
	box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
}

#loader {background:url(../img/loading/prettyLoader.png) top left no-repeat;height:30px;position:absolute;width:30px;z-index:9000}
#loader img {display:block;margin:7px 0 0 7px}
#loader.pl_ie6 {background-image:url(../img/loading/prettyLoader.gif)}
div.a-sql {margin:2px auto;width:95%;clear:both;background:#fff;font:12px Geneva, "Courier New", Courier, monospace}
div.a-sqls {background:#fff;padding:2px 5px}
div.a-sqls, div.a-sqls a {font:11px Geneva, "Courier New", Courier, monospace;text-decoration:none}
table#a-sqls {border-bottom:1px solid #ddd;border-left:1px solid #ddd;border-spacing:0;width:96%;font-size:10px;margin:5px 2%;font-family:Arial}
table#a-sqls td {border-right:1px dashed #ddd;border-top:1px dashed #ddd;padding:2px 4px}
table#a-sqls tr:last-child td {color:#000}
table#a-end {margin:auto;width:auto}
table#a-end td {font:10px Arial;color:inherit}

.a-message {padding:5px;height:48px;width:90%;margin:5px auto;font:19px 'Calibri','Trebuchet MS','Arial';background-repeat:no-repeat;background-position:5px center}
.a-message .a-sub {font:bold 13px Verdana}
.a-message .a-nope img {position:relative;top:5px}
.a-message td.a-td {padding-left:60px;vertical-align:middle;text-align:center;font:inherit;color:inherit}
.a-halt {text-align:left;height:auto;font-size:13px;padding:0 0 2px 65px;background-repeat:no-repeat;color:inherit;min-height:50px;background-position:10px top;vertical-align:middle}
.a-halt > table {height:50px;width:100%}
.a-halt > table td {vertical-align:middle}
.a-halt > table a {font-family:inherit;font-size:13px}
.a-error {background-image:url(../img/icons/block_48.png)!important}
.a-success {background-image:url(../img/icons/tick_48.png)!important}
.a-fatal {background-image:url(../img/icons/warning_48.png)!important}
.a-errorlist {font:bold 11px Arial}

.ui-datepicker {display:none}
.ui-dialog {-moz-box-shadow:0 0 10px rgba(0,0,0,0.5);-webkit-box-shadow:0 0 10px rgba(0,0,0,0.5);box-shadow:0 0 10px rgba(0,0,0,0.5);color:inherit}
.ui-dialog-titlebar {padding:0}
.g-alert {padding:5px 10px!important}
.g-alert a {color:inherit;text-decoration:underline}
.g-alert a:hover {text-decoration:none}

/* Pretty checkboxes */
label.checkbox span.holder {height:61px;background:url(../img/checkbox.gif) 0 -1px no-repeat}
label.radio span.holder {height:61px;background:url(../img/radio.gif) 0 -1px no-repeat}
label.checkbox:hover span.holder, label.radio:hover span.holder {top:-21px!important}
label.checked span.holder,label.checked span.holder,label.checked:hover span.holder,label.checked:hover span.holder {top:-42px!important}
label.list {float:left; clear:left;margin:0 0 5px 0}
label.inline {float:left; margin:0 10px 0 0}
input.hiddenCheckbox {position:absolute; left:-10000px}
label.prettyCheckbox span.holderWrap {display:block; float:left;position:relative;margin-right:5px;overflow:hidden}
label.prettyCheckbox span.holder {display:block;position:absolute;top:0;left:0}


/* Context menus */
/*
.context_shadow {display:none;height:0;padding:0!important;margin:-5px 0 0 -5px!important}
.context {z-index:10000;margin:0 3px 3px 0!important;border:1px solid #aaa;border-right:1px solid #aaa;border-bottom:1px solid #aaa;padding:0 1px!important;position:relative;left:-2px;top:-2px;background:#F9F8F7 url(../img/context/cmenu-xp-bg.gif) repeat-y top left;-moz-box-shadow:0 0 10px rgba(0,0,0,0.5);-webkit-box-shadow:0 0 10px rgba(0,0,0,0.5);box-shadow:0 0 10px rgba(0,0,0,0.5);border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px}
.context .separator {margin:2px 2px 0 2px;font-size:0px;border-top:1px solid #ccc;border-bottom:1px solid white}
.context .item, .context .item-down {cursor:pointer;width:150px;white-space:nowrap;height:20px}
.context .item:hover {background:url(../img/context/cmenu-vista-menu-item-hover.gif)}
.context .item-down {background:#eee}
.context .item .inner, .context .item-down .inner {background:none no-repeat 2px center;padding:4px 10px 4px 30px;text-align:left;color:black;font-family:Arial;font-size:11px;font-weight:500}
.context .item:hover .inner, .context .item-down:hover .inner {}
*/

.amChartsButtonSelected {
	background-color:#CC0000;
	border-style:solid;
	border-color:#CC0000;
	border-width:1px;
	color:#FFFFFF;
	-moz-border-radius:5px;
	border-radius:5px;
	margin:1px;   
}
.amChartsButton {
	background-color:#EEEEEE;
	border-style:solid;
	border-color:#CCCCCC;
	border-width:1px;
	color:#000000;
	-moz-border-radius:5px;
	border-radius:5px;
	margin:1px;  
}
.amChartsCompareList {
	border-style:solid;
	border-color:#CCCCCC;
	border-width:1px;
}

/* Flash upload */
.a-upload_progress {background:#fff;padding:5px 7px 0 5px;border:2px solid #dedede;background:#f6f6f6;color:#242424}
.uploadifyQueueItem {font-size:12px;border:1px solid #E5E5E5;background-color:#F5F5F5;padding:10px;margin:5px 0px;width:300px;color:#414141}
.uploadifyError {border:2px solid #FBCBBC!important;background-color:#FDE5DD!important}
.uploadifyQueueItem .cancel {float:right}
.uploadifyProgress {background-color:#FFFFFF;border-top:1px solid #808080;border-left:1px solid #808080;border-right:1px solid #C5C5C5;border-bottom:1px solid #C5C5C5;margin-top:10px;width:100%}
.uploadifyProgressBar {background-color:#0099FF;width:1px;height:3px}