Hello {$vars.login}, you have requested new password restoration link:<br /><br />
Click below to recover your password on {$smarty.const.DOMAIN}:<br />
<a href="{$data.link}">{$data.link}</a>
<hr />
With best, {$smarty.const.MAIL_NAME}