Уважаемый {$vars.firstname} {$vars.lastname}! 

Вы запросили функцию восстановления пароля.

Восстановите свой пароль проследовав по ссыке ниже:

<a href="{$data.link}">{$data.link}</a>

С уважением, 
администрация <a href="http://trade-room.com">Trade-Room</a>