Lugupeetud klient, {$vars.login}<br />
<br />
Taname teid, et olete edukalt ennast registreerinum kauplejakabinetti. Et konto aktiveerida, palume kinnitada emaili aadress, mille te markisite oma ankeeti.<br />
<br />
--> <a href="{$data.link}">kinnita emaili aadress</a><br />
<br />
Kui mingil pohjusel link ei toota, siis kopeerige see oma interneti brauserisse:<br />
{$data.link}<br />
<br />
Parimate soovidega,<br />
MyTrade<br />
<br />
tel. +44 2032395544<br />
e-mail: <a href="mailto:info@mytrade.ee">info@mytrade.ee</a><br />
<a href="http://www.mytrademarkets.com">www.mytrademarkets.com</a><br />