Пожалуйста, подтвердите Ваш email адрес.<br />
<br />
Уважаемый(ая) {$vars.login},<br />
<br />
Благодарим Вас за успешно прошедшую регистрацию кабинета трейдера.<br />
Для активации, пожалуйста, подтвердите ваш email адрес, указанный при регистрации!<br />
<br />
> <a href="{$data.link}">Подтвердить Email</a><br />
<br />
Если по каким-либо причинам ссылка не работает, скопируйте ее и вставьте в браузер следующий адрес:<br />
<br />
{$data.link}
<br />
<br />
С наилучшими пожеланиями,<br />
компания MyTrade.<br />
<hr />
tel. +44 2032395544<br />
e-mail: <a href="mailto:info@mytrade.ee">info@mytrade.ee</a><br />
<a href="http://www.mytrademarkets.com">www.mytrademarkets.com</a><br />